<header>
    <div class="logo">
        <a href="/"><img src="https://i.ibb.co/2jQsr6H/logo.png" alt="<%=title%>"></a>
    </div>
    <div class="header-links">
        <a href="/movies">Movies</a>
        <a href="/cinemas">Cinemas</a>
        <a href="/about">About</a>
    </div>
</header>