<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/zero.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <%-include("header.ejs")%>

  <div class="container-home">
    <h1>Хто ми?</h1>
    <p class="text">● Ми гіки, які хочуть зробити найкращий кіносайт.</p>
    <p class="text">● Нам не подобається те, як розвиваються сайти про кіно. Це не розвиток, а стагнація.</p>
    <p class="text">● Ми не дуже довіряємо рецензіям кінокритиків і відгукам невідомих нам людей — для нас важлива думка
      друзів і близьких, тому в Кіноріумі враження і оцінки друзів завжди на першому плані.</p>
    <p class="text">● Ми знаємо, хто вбив Лору Палмер.</p>

    <h1>Любов</h1>
    <p class="text">● Ми безмежно закохані в кіно і готові на все, щоб разом з вами створити найкращий кіноманський
      ресурс.</p>
    <p class="text">● Ми абсолютно фанатично ставимося до даних. База даних Кіноріума кожен день рухається до того, щоб
      стати кращою з кращих.</p>
    <p class="text">● Ми дуже уважно слухаємо користувачів. Ви — наш найцінніший актив, і ми зробимо все, щоб
      задовольнити вас! Ну, майже все.</p>

    <h1>Ми надовго</h1>
    <p class="text">● Для нас це не тільки робота, а й улюблене заняття,тому ми із задоволенням «працюємо» 24 години на
      добу.</p>
    <p class="text">● Це тільки перша версія Кіноріума — ми щодня робимо його все кращим.</p>
    <p class="text">● Ми — не корпорація. Ми — мобільні, агресивні і кльові. Корпорації — повільні, нецікаві і нудні.
    </p>

    <h1>Реклама</h1>
    <p class="text">● Тут ніколи не буде засилля нав'язливої реклами, якою рясніють інші сайти. Не витрачайте свій час
      на тих, хто знущається над вами.</p>

    <h1>Плани</h1>
    <p class="text">● Премія «Оскар» за найкращий сайт про кіно.</p>
  </div>

  <%-include("footer.ejs")%>
</body>

</html>