<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/zero.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <%-include("header.ejs")%>

  <h1>Виберіть розділ</h1>
  <p>Про сайт</p>
  <p>бла, бла, бла</p>

  <!-- <h1>Список фільмів</h1>

  <div class="container">
    <div class="card-movie">
      <a href="#">
        <div class="image-movie"style="background-image: url(https://d2t8nixuow17vt.cloudfront.net/movie/poster/644422/w1500_3601014.jpg);"></div>
        <div class="title-movie"><strong>Люди в чорному: Інтернешнл</strong></div>
        <div class="year-movie">2019</div>
        <div class="genres-movie">Фантастика, Бойовик, Пригоди, Комедія</div>
      </a>
    </div>
    <div class="card-movie">
      <a href="#">
        <div class="image-movie"style="background-image: url(https://d2t8nixuow17vt.cloudfront.net/movie/poster/644422/w1500_3601014.jpg);"></div>
        <div class="title-movie"><strong>Люди в чорному: Інтернешнл</strong></div>
        <div class="year-movie">2019</div>
        <div class="genres-movie">Фантастика, Бойовик, Пригоди, Комедія</div>
      </a>
    </div>
    <div class="card-movie">
      <a href="#">
        <div class="image-movie"style="background-image: url(https://d2t8nixuow17vt.cloudfront.net/movie/poster/644422/w1500_3601014.jpg);"></div>
        <div class="title-movie"><strong>Люди в чорному: Інтернешнл</strong></div>
        <div class="year-movie">2019</div>
        <div class="genres-movie">Фантастика, Бойовик, Пригоди, Комедія</div>
      </a>
    </div>
  </div> -->


  <%-include("footer.ejs")%>
</body>

</html>