<div class="add-movie-form">
    <form action="/movies/save" method="get">
        <div>
            <label><span>Poster: </span><input type="text" name="img"></label>
        </div>
        <div>
            <label><span>Title: </span><input type="text" name="title"></label>
        </div>
        <div>
            <label><span>Countries: </span><input type="text" name="countries"></label>
        </div>
        <div>
            <label><span>Year: </span><input type="number" name="year"></label>
        </div>
        <div>
            <label><span>Genres: </span><input type="text" name="genres"></label>
        </div>
        <div>
            <label><span>Description: </span><textarea name="description" cols="50" rows="4"></textarea></label>
        </div>
        <div class="btn">
            <input type="submit" value="Add movie">
        </div>
    </form>
</div>