<header>
    <div class="header-section">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/cinemas">Cinemas</a></li>
        </ul>
    </div>
</header>