body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image-icon {
  width: 70px;
}

.films-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}