body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1e1e1e;
  color: #bbbbbb;
  /* border: 1px solid #bbbbbb; */
}

a {
  color: #00B7FF;
}

.row {
  display: flex;
  width: 100%;
}

/* .header-section {
  border: 1px solid #bbbbbb;
} */
.header-section ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}
.header-section li {
  margin: 0 10px 0 0;
}
.header-section a {
  text-decoration: none;
  font-size: 1.5em;
}

.image-icon-authors {
  width: 200px;
  max-height: 200px;
}
.image-icon-books {
  width: 100px;
  min-height: 100px;
}

.authors-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border: 1px solid rgb(255, 254, 254); */
  align-items: center;
}
.books-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* border: 1px solid rgb(255, 254, 254); */
  align-items: center;
}
.authors-container a {
  margin: 0 0 0 10px;
}
.books-container a {
  margin: 0 0 0 10px;
}