<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Привіт username</h1>
    <ul>
      <li><a href="users">Всі користувачі</a></li>
      <li><a href="users/add">Додати користувача</a></li>
      <li><a href="users/remove:id">Видалення користувача :id (тимчасова)</a></li>
      <!-- <li><a href="users/:id">Виведення інформації про користувача із заданим :id (тимчасова)</a></li> -->
    </ul>
    <ul>
      <li><a href="groups">Виведення всіх груп</a></li>
      <li><a href="groups/add">Додати групу</a></li>
      <li><a href="groups/remove/:id">Видалення групи за заданим :id (тимчасова)</a></li>
      <li><a href="groups/:id">Виведення інформації про групу із заданим :id (тимчасова)</a></li>
    </ul>
    <ul>
      <li><a href="about">About</a></li>
    </ul>
  </body>
</html>
