body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1e1e1e;
  color: #bbbbbb;
}

a {
  color: #00B7FF;
}

.header-section ul {
  display: flex;
  justify-content: start;
  list-style-type: none;
  padding: 0;
}
.header-section li {
  margin: 0 10px 0 0;
}
.header-section a {
  text-decoration: none;
  font-size: 1.5em;
}