<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/zero.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <div class="links">
      <a href="/authors">
        <img src="./images/authors.png" alt="">
      </a>
      <a href="/books">
        <img src="./images/books.png" alt="">
      </a>
    </div>
  </body>
</html>
