<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('components/header') %>
    <h1>Ви знаходитеся в найкращій бібліотеці в світі!</h1>
  </body>
</html>
