
<!-- <div class="movie-cardHome">
    <div class="movie-cardHome-container">
        <img src="https://d2t8nixuow17vt.cloudfront.net/movie/poster/2023303/w1500_41017172.jpg" alt="Poster">
        <div class="movie-cardHome-title"><h2>Тенет</h2></div>
        <div>Великобританія, США</div>
        <div>2020</div>
        <div class="movie-cardHome-genres">Фантастика, Бойовик, Драма, Трилер</div>
        <div class="movie-cardHome-description">Озброєний єдиним словом — Тенет — головний герой бореться за виживання усього світу. Він подорожує оповитим сутінками світом міжнародного шпигунства з єдиною місією, яка розгорнеться за межами реального часу. Це не подорож крізь час. Це інверсія.</div>
    </div>
</div> -->